<ul>
  <h3>備品情報を削除</h3>
  <input id="deleteIndex" type="text" name="id" value="1">
  <span class="deleteBtn"><button>削除</button></span>
  </form>
</ul>

<script>
    $('.deleteBtn').click(function() {
        var el = $('#deleteIndex');
        if (confirm('削除しますか？')) {
            $.post('/admin/delete', {
                id: el.val()
            }, function() {
            });
        }
    })
</script>