<ul>
  <h2>備品を追加</h2>
  <form method="post" action="/new">
    <input type="text" name="name" value="test">
    <input type="text" name="url" value="test">
    <input type="text" name="category" value="test">
    <input type="value" name="count" value="0">
    <input type="text" name="memo" value="test">
    <input type="text" name="admin" value="test">
    <input type="submit" value="post!">
  </form>
</ul>