<ul>
  <h3>備品を追加</h3>
  <form method="post" action="/admin/new">
    <input type="text" name="name" value="test">
    <input type="text" name="url" value="test">
    <input type="text" name="tag" value="test">
    <input type="value" name="count" value="0">
    <input type="text" name="memo" value="test">
    <input type="text" name="admin" value="test">
    <input type="submit" value="追加">
  </form>
</ul>