<ul>
  <h3>備品情報を更新</h3>
  <form method="post" action="/admin/update">
    <input type="text" name="id" value="1">
    <input type="text" name="name" value="testtest">
    <input type="text" name="url" value="testtest">
    <input type="text" name="category" value="testtest">
    <input type="value" name="count" value="10">
    <input type="text" name="memo" value="testtest">
    <input type="text" name="admin" value="testtest">
    <input type="submit" value="更新">
  </form>
</ul>